CLOCKIFY_API_KEY="xxx"
CLOCKIFY_USER_ID="xxx"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n blah blah"
GOOGLE_CLIENT_EMAIL="xxx.gserviceaccount.com"
GOOGLE_PROJECT_NUMBER="xxx"
GOOGLE_CALENDAR_ID="xxx"
